# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Keystore files - DO NOT COMMIT THESE!
*.keystore
*.jks
*.p12
*.key
release.keystore
debug.keystore

# Bundle artifacts
*.jsbundle
